div.embed { display: none;}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
  width:440px; 
  height:265px;
  opacity:0.5;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px; 
  height:203px;
  background-color:#E9DEDE;
}

